section {
  margin-top: 80px;
  width: 100%;
  height: 800px;
  background-image: linear-gradient(
      178deg,
      rgba(47, 47, 47, 0.888) 0%,
      rgba(12, 12, 12, 0.788) 53%,
      rgba(0, 0, 0, 0.788) 100%
    ),
    url("../../assets/Images/polar.gif");
  // /* backdrop-filter: blur(125px); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: #d0ebff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  /* align-items: center; */
  justify-content: center;

  img {
    width: 500px;
  }
  p {
    font-size: 40px;
    width: 32%;
    text-align: center;
    color: #000;
    line-height: 2;
    overflow: hidden; /* Ensure text doesn't overflow the container */
    border-right: 0.15em solid #000; /* Add blinking cursor effect */
    white-space: nowrap; /* Prevent line breaks */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    animation: typewriter 5s steps(55) infinite;
  }

  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
}
