<section>
  <app-filter
    [total]="getAllProducts()"
    [common]="getCommonProducts()"
    [rare]="getRareProducts()"
    (radioInputChanged)="onRadioInputChange($event)"
  ></app-filter>
  <ng-container *ngFor="let p of products; index as idx">
    <div *ngIf="changedInputValue === 'all' || changedInputValue === p.rarity">
      <div class="productCard">
        <div class="image-container"><img [src]="p.image" alt="" /></div>
        <div class="productDetailsCont">
          <p class="name">Breed: {{ p.breed }}</p>
          <p class="description">{{ p.description }}</p>
          <p class="habitat">Major Habitat: {{ p.habitat }}</p>
          <p class="price">Price: ${{ p.price }}</p>
          <p class="price">Rarity: {{ p.rarity.toUpperCase() }}</p>
        </div>
      </div>
    </div>
  </ng-container>
</section>
